<div>
  <div class="brand-logo d-flex align-items-center justify-content-between">
    <a class="text-nowrap logo-img" [routerLink]="'/app/admin/dashboard'">
      <img alt="" src="assets/images/logos/dark-logo.svg" width="180"/>
    </a>
    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
      <i class="ti ti-x fs-8"></i>
    </div>
  </div>
  <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul *ngFor="let navItem of navItems" id="sidebarnav">
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">{{navItem.caption}}</span>
      </li>
      <li *ngFor="let item of navItem.items" class="sidebar-item">
        <a [routerLink]="item.link" [routerLinkActive]="'active'" aria-expanded="false" class="sidebar-link">
                <span>
                  <i-tabler [name]="item.icon" [style]="{'stroke-width': '1.5px', 'height': '24px', 'width': '24px'}"
                            class="small"></i-tabler>
                </span>
          <span class="hide-menu">{{item.label}}</span>
        </a>
      </li>
    </ul>

    <!--Upgrade to pro-->
    <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
      <div class="d-flex">
        <div class="unlimited-access-title me-3">
          <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
          <a class="btn btn-primary fs-2 fw-semibold lh-sm" href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/"
             target="_blank">Buy Pro</a>
        </div>
        <div class="unlimited-access-img">
          <img alt="" class="img-fluid" src="assets/images/backgrounds/rocket.png">
        </div>
      </div>
    </div>
  </nav>
</div>
