<div class="card w-100 h-100 position-relative overflow-hidden">
  <div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Icons</h5>
    <iframe src="https://tabler-icons.io/" style="height: calc(100vh - 250px); width: 100%;"
            data-simplebar="" title="Tabler List Of Icons"></iframe>
  </div>
</div>
