/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* SCSS */
@import "assets/scss/app";

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6b6b83 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

body {
  overflow: hidden;
}

.auto-overflow {
  overflow-y: auto;
  height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
