<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" [routerLink]="'/app/admin/dashboard'">
      <span class="align-middle">AdminKit</span>
    </a>

    <ul class="sidebar-nav overflow-y-auto">
      <div *ngFor="let navItem of navItems">
        <li class="sidebar-header">{{navItem.header}}</li>

        <li class="sidebar-item" *ngFor="let item of navItem.items" [routerLinkActive]="'active'">
          <a class="sidebar-link d-flex align-items-center sidebar-hover" [routerLink]="item.link">
            <i-feather class="align-middle me-1" [name]="item.icon"></i-feather>
            <span class="align-middle">{{item.title}}</span>
          </a>
        </li>
      </div>
      <div class="sidebar-cta">
        <div class="sidebar-cta-content">
          <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
          <div class="mb-3 text-sm">
            Are you looking for more components? Check out our premium version.
          </div>
          <div class="d-grid">
            <a [routerLink]="'app/admin/upgrade-to-pro'" class="btn btn-primary">Upgrade to Pro</a>
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>
