<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <h5 class="card-title fw-semibold mb-4">Card</h5>
          <div class="card">
            <img src="assets/images/products/s4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the
                card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="card-title fw-semibold mb-4">Header and footer</h5>
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the
                card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h5 class="card-title fw-semibold mb-4">Cards</h5>
        <div class="col-sm-6 col-xl-3" *ngFor="let card of cards">
          <div class="card overflow-hidden rounded-2">
            <div class="position-relative">
              <a href="javascript:void(0)"><img [src]="card.img" class="card-img-top rounded-0" [alt]="formatImageAltText(card.name)"></a>
              <a href="javascript:void(0)" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i-tabler name="basket" class="fs-4 d-flex"></i-tabler></a>
            </div>
            <div class="card-body pt-3 p-4">
              <h6 class="fw-semibold fs-4">{{card.name}}</h6>
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="fw-semibold fs-4 mb-0">{{card.gprice}} <span class="ms-2 fw-normal text-muted fs-3"><del>{{card.dprice}}</del></span></h6>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                  <li><a class="me-1" href="javascript:void(0)">
                    <i-tabler [style]="{height: '18px', width: '18px'}" class="d-flex text-warning"
                              name="star"></i-tabler>
                  </a></li>
                  <li><a class="me-1" href="javascript:void(0)">
                    <i-tabler [style]="{height: '18px', width: '18px'}" class="d-flex text-warning"
                              name="star"></i-tabler>
                  </a></li>
                  <li><a class="me-1" href="javascript:void(0)">
                    <i-tabler [style]="{height: '18px', width: '18px'}" class="d-flex text-warning"
                              name="star"></i-tabler>
                  </a></li>
                  <li><a class="me-1" href="javascript:void(0)">
                    <i-tabler [style]="{height: '18px', width: '18px'}" class="d-flex text-warning"
                              name="star"></i-tabler>
                  </a></li>
                  <li><a class="me-1" href="javascript:void(0)">
                    <i-tabler [style]="{height: '18px', width: '18px'}" class="d-flex text-warning"
                              name="star"></i-tabler>
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
