<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Feather</h1>
  <a class="badge bg-dark text-white ms-2" [routerLink]="'app/admin/upgrade-to-pro'">
    Get more icons
  </a>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Feather Icons</h3>
    <h6 class="card-subtitle text-muted">Simply beautiful open source icons</h6>
  </div>
  <div class="card-body bg-white">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="activity"></i-feather> <span class="align-middle">activity</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="airplay"></i-feather> <span class="align-middle">airplay</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="alert-circle"></i-feather> <span class="align-middle">alert-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="alert-octagon"></i-feather> <span class="align-middle">alert-octagon</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="alert-triangle"></i-feather> <span class="align-middle">alert-triangle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="align-center"></i-feather> <span class="align-middle">align-center</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="align-justify"></i-feather> <span class="align-middle">align-justify</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="align-left"></i-feather> <span class="align-middle">align-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="align-right"></i-feather> <span class="align-middle">align-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="anchor"></i-feather> <span class="align-middle">anchor</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="aperture"></i-feather> <span class="align-middle">aperture</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-down"></i-feather> <span class="align-middle">arrow-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-down-circle"></i-feather> <span class="align-middle">arrow-down-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-down-left"></i-feather> <span class="align-middle">arrow-down-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-down-right"></i-feather> <span class="align-middle">arrow-down-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-left"></i-feather> <span class="align-middle">arrow-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-left-circle"></i-feather> <span class="align-middle">arrow-left-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-right"></i-feather> <span class="align-middle">arrow-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-right-circle"></i-feather> <span class="align-middle">arrow-right-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-up"></i-feather> <span class="align-middle">arrow-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-up-circle"></i-feather> <span class="align-middle">arrow-up-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-up-left"></i-feather> <span class="align-middle">arrow-up-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="arrow-up-right"></i-feather> <span class="align-middle">arrow-up-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="at-sign"></i-feather> <span class="align-middle">at-sign</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="award"></i-feather> <span class="align-middle">award</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bar-chart"></i-feather> <span class="align-middle">bar-chart</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bar-chart-2"></i-feather> <span class="align-middle">bar-chart-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="battery"></i-feather> <span class="align-middle">battery</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="battery-charging"></i-feather> <span class="align-middle">battery-charging</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bell"></i-feather> <span class="align-middle">bell</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bell-off"></i-feather> <span class="align-middle">bell-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bluetooth"></i-feather> <span class="align-middle">bluetooth</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bold"></i-feather> <span class="align-middle">bold</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="book"></i-feather> <span class="align-middle">book</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="book-open"></i-feather> <span class="align-middle">book-open</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="bookmark"></i-feather> <span class="align-middle">bookmark</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="box"></i-feather> <span class="align-middle">box</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="briefcase"></i-feather> <span class="align-middle">briefcase</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="calendar"></i-feather> <span class="align-middle">calendar</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="camera"></i-feather> <span class="align-middle">camera</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="camera-off"></i-feather> <span class="align-middle">camera-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cast"></i-feather> <span class="align-middle">cast</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="check"></i-feather> <span class="align-middle">check</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="check-circle"></i-feather> <span class="align-middle">check-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="check-square"></i-feather> <span class="align-middle">check-square</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevron-down"></i-feather> <span class="align-middle">chevron-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevron-left"></i-feather> <span class="align-middle">chevron-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevron-right"></i-feather> <span class="align-middle">chevron-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevron-up"></i-feather> <span class="align-middle">chevron-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevrons-down"></i-feather> <span class="align-middle">chevrons-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevrons-left"></i-feather> <span class="align-middle">chevrons-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevrons-right"></i-feather> <span class="align-middle">chevrons-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chevrons-up"></i-feather> <span class="align-middle">chevrons-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="chrome"></i-feather> <span class="align-middle">chrome</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="circle"></i-feather> <span class="align-middle">circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="clipboard"></i-feather> <span class="align-middle">clipboard</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="clock"></i-feather> <span class="align-middle">clock</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cloud"></i-feather> <span class="align-middle">cloud</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cloud-drizzle"></i-feather> <span class="align-middle">cloud-drizzle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cloud-lightning"></i-feather> <span class="align-middle">cloud-lightning</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cloud-off"></i-feather> <span class="align-middle">cloud-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cloud-rain"></i-feather> <span class="align-middle">cloud-rain</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cloud-snow"></i-feather> <span class="align-middle">cloud-snow</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="code"></i-feather> <span class="align-middle">code</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="codepen"></i-feather> <span class="align-middle">codepen</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="command"></i-feather> <span class="align-middle">command</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="compass"></i-feather> <span class="align-middle">compass</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="copy"></i-feather> <span class="align-middle">copy</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-down-left"></i-feather> <span class="align-middle">corner-down-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-down-right"></i-feather> <span class="align-middle">corner-down-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-left-down"></i-feather> <span class="align-middle">corner-left-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-left-up"></i-feather> <span class="align-middle">corner-left-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-right-down"></i-feather> <span class="align-middle">corner-right-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-right-up"></i-feather> <span class="align-middle">corner-right-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-up-left"></i-feather> <span class="align-middle">corner-up-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="corner-up-right"></i-feather> <span class="align-middle">corner-up-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="cpu"></i-feather> <span class="align-middle">cpu</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="credit-card"></i-feather> <span class="align-middle">credit-card</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="crop"></i-feather> <span class="align-middle">crop</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="crosshair"></i-feather> <span class="align-middle">crosshair</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="database"></i-feather> <span class="align-middle">database</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="delete"></i-feather> <span class="align-middle">delete</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="disc"></i-feather> <span class="align-middle">disc</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="dollar-sign"></i-feather> <span class="align-middle">dollar-sign</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="download"></i-feather> <span class="align-middle">download</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="download-cloud"></i-feather> <span class="align-middle">download-cloud</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="droplet"></i-feather> <span class="align-middle">droplet</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="edit"></i-feather> <span class="align-middle">edit</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="edit-2"></i-feather> <span class="align-middle">edit-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="edit-3"></i-feather> <span class="align-middle">edit-3</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="external-link"></i-feather> <span class="align-middle">external-link</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="eye"></i-feather> <span class="align-middle">eye</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="eye-off"></i-feather> <span class="align-middle">eye-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="facebook"></i-feather> <span class="align-middle">facebook</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="fast-forward"></i-feather> <span class="align-middle">fast-forward</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="feather"></i-feather> <span class="align-middle">feather</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="file"></i-feather> <span class="align-middle">file</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="file-minus"></i-feather> <span class="align-middle">file-minus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="file-plus"></i-feather> <span class="align-middle">file-plus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="file-text"></i-feather> <span class="align-middle">file-text</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="film"></i-feather> <span class="align-middle">film</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="filter"></i-feather> <span class="align-middle">filter</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="flag"></i-feather> <span class="align-middle">flag</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="folder"></i-feather> <span class="align-middle">folder</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="folder-minus"></i-feather> <span class="align-middle">folder-minus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="folder-plus"></i-feather> <span class="align-middle">folder-plus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="git-branch"></i-feather> <span class="align-middle">git-branch</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="git-commit"></i-feather> <span class="align-middle">git-commit</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="git-merge"></i-feather> <span class="align-middle">git-merge</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="git-pull-request"></i-feather> <span class="align-middle">git-pull-request</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="github"></i-feather> <span class="align-middle">github</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="gitlab"></i-feather> <span class="align-middle">gitlab</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="globe"></i-feather> <span class="align-middle">globe</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="grid"></i-feather> <span class="align-middle">grid</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="hard-drive"></i-feather> <span class="align-middle">hard-drive</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="hash"></i-feather> <span class="align-middle">hash</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="headphones"></i-feather> <span class="align-middle">headphones</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="heart"></i-feather> <span class="align-middle">heart</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="help-circle"></i-feather> <span class="align-middle">help-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="home"></i-feather> <span class="align-middle">home</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="image"></i-feather> <span class="align-middle">image</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="inbox"></i-feather> <span class="align-middle">inbox</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="info"></i-feather> <span class="align-middle">info</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="instagram"></i-feather> <span class="align-middle">instagram</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="italic"></i-feather> <span class="align-middle">italic</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="layers"></i-feather> <span class="align-middle">layers</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="layout"></i-feather> <span class="align-middle">layout</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="link"></i-feather> <span class="align-middle">link</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="link-2"></i-feather> <span class="align-middle">link-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="linkedin"></i-feather> <span class="align-middle">linkedin</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="list"></i-feather> <span class="align-middle">list</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="loader"></i-feather> <span class="align-middle">loader</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="lock"></i-feather> <span class="align-middle">lock</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="log-in"></i-feather> <span class="align-middle">log-in</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="log-out"></i-feather> <span class="align-middle">log-out</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="mail"></i-feather> <span class="align-middle">mail</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="map"></i-feather> <span class="align-middle">map</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="map-pin"></i-feather> <span class="align-middle">map-pin</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="maximize"></i-feather> <span class="align-middle">maximize</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="maximize-2"></i-feather> <span class="align-middle">maximize-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="menu"></i-feather> <span class="align-middle">menu</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="message-circle"></i-feather> <span class="align-middle">message-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="message-square"></i-feather> <span class="align-middle">message-square</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="mic"></i-feather> <span class="align-middle">mic</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="mic-off"></i-feather> <span class="align-middle">mic-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="minimize"></i-feather> <span class="align-middle">minimize</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="minimize-2"></i-feather> <span class="align-middle">minimize-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="minus"></i-feather> <span class="align-middle">minus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="minus-circle"></i-feather> <span class="align-middle">minus-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="minus-square"></i-feather> <span class="align-middle">minus-square</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="monitor"></i-feather> <span class="align-middle">monitor</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="moon"></i-feather> <span class="align-middle">moon</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="more-horizontal"></i-feather> <span class="align-middle">more-horizontal</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="more-vertical"></i-feather> <span class="align-middle">more-vertical</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="move"></i-feather> <span class="align-middle">move</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="music"></i-feather> <span class="align-middle">music</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="navigation"></i-feather> <span class="align-middle">navigation</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="navigation-2"></i-feather> <span class="align-middle">navigation-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="octagon"></i-feather> <span class="align-middle">octagon</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="package"></i-feather> <span class="align-middle">package</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="paperclip"></i-feather> <span class="align-middle">paperclip</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="pause"></i-feather> <span class="align-middle">pause</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="pause-circle"></i-feather> <span class="align-middle">pause-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="percent"></i-feather> <span class="align-middle">percent</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone"></i-feather> <span class="align-middle">phone</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone-call"></i-feather> <span class="align-middle">phone-call</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone-forwarded"></i-feather> <span class="align-middle">phone-forwarded</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone-incoming"></i-feather> <span class="align-middle">phone-incoming</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone-missed"></i-feather> <span class="align-middle">phone-missed</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone-off"></i-feather> <span class="align-middle">phone-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="phone-outgoing"></i-feather> <span class="align-middle">phone-outgoing</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="pie-chart"></i-feather> <span class="align-middle">pie-chart</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="play"></i-feather> <span class="align-middle">play</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="play-circle"></i-feather> <span class="align-middle">play-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="plus"></i-feather> <span class="align-middle">plus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="plus-circle"></i-feather> <span class="align-middle">plus-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="plus-square"></i-feather> <span class="align-middle">plus-square</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="pocket"></i-feather> <span class="align-middle">pocket</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="power"></i-feather> <span class="align-middle">power</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="printer"></i-feather> <span class="align-middle">printer</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="radio"></i-feather> <span class="align-middle">radio</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="refresh-ccw"></i-feather> <span class="align-middle">refresh-ccw</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="refresh-cw"></i-feather> <span class="align-middle">refresh-cw</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="repeat"></i-feather> <span class="align-middle">repeat</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="rewind"></i-feather> <span class="align-middle">rewind</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="rotate-ccw"></i-feather> <span class="align-middle">rotate-ccw</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="rotate-cw"></i-feather> <span class="align-middle">rotate-cw</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="rss"></i-feather> <span class="align-middle">rss</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="save"></i-feather> <span class="align-middle">save</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="scissors"></i-feather> <span class="align-middle">scissors</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="search"></i-feather> <span class="align-middle">search</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="send"></i-feather> <span class="align-middle">send</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="server"></i-feather> <span class="align-middle">server</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="settings"></i-feather> <span class="align-middle">settings</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="share"></i-feather> <span class="align-middle">share</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="share-2"></i-feather> <span class="align-middle">share-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="shield"></i-feather> <span class="align-middle">shield</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="shield-off"></i-feather> <span class="align-middle">shield-off</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="shopping-bag"></i-feather> <span class="align-middle">shopping-bag</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="shopping-cart"></i-feather> <span class="align-middle">shopping-cart</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="shuffle"></i-feather> <span class="align-middle">shuffle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="sidebar"></i-feather> <span class="align-middle">sidebar</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="skip-back"></i-feather> <span class="align-middle">skip-back</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="skip-forward"></i-feather> <span class="align-middle">skip-forward</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="slack"></i-feather> <span class="align-middle">slack</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="slash"></i-feather> <span class="align-middle">slash</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="sliders"></i-feather> <span class="align-middle">sliders</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="smartphone"></i-feather> <span class="align-middle">smartphone</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="speaker"></i-feather> <span class="align-middle">speaker</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="square"></i-feather> <span class="align-middle">square</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="star"></i-feather> <span class="align-middle">star</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="stop-circle"></i-feather> <span class="align-middle">stop-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="sun"></i-feather> <span class="align-middle">sun</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="sunrise"></i-feather> <span class="align-middle">sunrise</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="sunset"></i-feather> <span class="align-middle">sunset</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="tablet"></i-feather> <span class="align-middle">tablet</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="tag"></i-feather> <span class="align-middle">tag</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="target"></i-feather> <span class="align-middle">target</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="terminal"></i-feather> <span class="align-middle">terminal</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="thermometer"></i-feather> <span class="align-middle">thermometer</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="thumbs-down"></i-feather> <span class="align-middle">thumbs-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="thumbs-up"></i-feather> <span class="align-middle">thumbs-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="toggle-left"></i-feather> <span class="align-middle">toggle-left</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="toggle-right"></i-feather> <span class="align-middle">toggle-right</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="trash"></i-feather> <span class="align-middle">trash</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="trash-2"></i-feather> <span class="align-middle">trash-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="trending-down"></i-feather> <span class="align-middle">trending-down</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="trending-up"></i-feather> <span class="align-middle">trending-up</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="triangle"></i-feather> <span class="align-middle">triangle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="truck"></i-feather> <span class="align-middle">truck</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="tv"></i-feather> <span class="align-middle">tv</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="twitter"></i-feather> <span class="align-middle">twitter</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="type"></i-feather> <span class="align-middle">type</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="umbrella"></i-feather> <span class="align-middle">umbrella</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="underline"></i-feather> <span class="align-middle">underline</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="unlock"></i-feather> <span class="align-middle">unlock</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="upload"></i-feather> <span class="align-middle">upload</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="upload-cloud"></i-feather> <span class="align-middle">upload-cloud</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="user"></i-feather> <span class="align-middle">user</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="user-check"></i-feather> <span class="align-middle">user-check</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="user-minus"></i-feather> <span class="align-middle">user-minus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="user-plus"></i-feather> <span class="align-middle">user-plus</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="user-x"></i-feather> <span class="align-middle">user-x</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="users"></i-feather> <span class="align-middle">users</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="video"></i-feather> <span class="align-middle">video</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="video-off"></i-feather> <span class="align-middle">video-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="voicemail"></i-feather> <span class="align-middle">voicemail</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="volume"></i-feather> <span class="align-middle">volume</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="volume-1"></i-feather> <span class="align-middle">volume-1</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="volume-2"></i-feather> <span class="align-middle">volume-2</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="volume-x"></i-feather> <span class="align-middle">volume-x</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="watch"></i-feather> <span class="align-middle">watch</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="wifi"></i-feather> <span class="align-middle">wifi</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="wifi-off"></i-feather> <span class="align-middle">wifi-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="wind"></i-feather> <span class="align-middle">wind</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="x"></i-feather> <span class="align-middle">x</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="x-circle"></i-feather> <span class="align-middle">x-circle</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="x-square"></i-feather> <span class="align-middle">x-square</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="zap"></i-feather> <span class="align-middle">zap</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="zap-off"></i-feather> <span class="align-middle">zap-off</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="zoom-in"></i-feather> <span class="align-middle">zoom-in</span>
        </div>
        <div class="mb-2">
          <i-feather class="align-middle me-2" name="zoom-out"></i-feather> <span class="align-middle">zoom-out</span>
        </div>
      </div>
    </div>
  </div>
</div>
